# Project exclude paths
/.gradle/
/Steganography and Cryptography/task/build/
/Steganography and Cryptography/task/out/
/Steganography and Cryptography/task/out/production/classes/
/Topics/Processing strings/Number of occurrences/out/
/Topics/Processing strings/Number of occurrences/out/production/classes/